# Project specific
tools/DESeq2paper/data
tests/**.pdf

# Tex build
docs/**/build/**/*.*
!docs/**/build/**/*.pdf

# Development specs
*.Rprofile

# Specs
.tool-versions

# Tags
tags*

# Logs 
log/
*.log
*.coverage
*.coveragerc

# Envs
renv/

# Mac anc Vim specific
.DS_Store
.DS_Store?
*.m~
*.*swp
*.*swo

# Python
__pycache__/
*.pyc

# Compiled sources
*.com
*.class
*.dll
*.exe
*.o
*.so
.Rproj.user
